@import "variables";
@import "mixins";

.dashboard {

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $db-header-height;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    background: #ffffff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, .15);
  }
  &__new {
    margin-top: $db-header-height;
    padding: 1.5rem;

    background: #dadce0;
  }
  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;

    font-size: 1.5rem;
    color: #000000;

    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #dadce0;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: green;
      border: 1px solid green;
      cursor: pointer;
    }
  }
  &__table {
    padding: 1rem;
  }
  &__list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 12px;

    color: #202124;
    font-size: 16px;
    font-weight: 500;
  }
  &__list {
    @include clear-list;
  }
  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 14px 12px 16px;

    &:hover {
      background: #e6f4ea;
      border-radius: 25px;
    }

    a {
      color: #202124;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}