@import "variables";
@import "mixins";

.header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 8px 4px 0;

  &__input {
    min-width: 1px;
    height: 20px;
    margin: 0;
    padding: 2px 7px;

    font-size: 18px;
    color: #000000;
    border: 1px solid transparent;
    border-radius: 3px;
    line-height: 22px;
    outline: none;
    cursor: pointer;

    &:hover {
      border: 1px solid $border-color;
    }

    &:focus {
      border: 2px solid #1a73e8;
    }
  }

  &__buttons {
    display: flex;
  }

  .button {
    &--delete {
      @include button(rgb(255, 0, 0));
    }

    &--exit {
      @include button(rgb(0, 0, 255));
    }
  }
}